*{
    box-sizing: border-box;
  } 
body{
    
    margin: 0;
}
header{
    top:0vh;
    position:unset;
    
    display:flex;
    justify-content: center;
    align-items: center;
    height:10vh;
    border-bottom: 3px solid #54724b;
    color: #312020;
    background: #93b684;
    letter-spacing: 1em;
    text-align: center;
    text-indent:2em;
    z-index: 100000000000 !important;
    
    
}


h1{
    margin:0;
    text-align: center;
    
}



/*==========================================

ROASTS PAGES

==========================================*/


.roasts{
    width:100%;
}
.blonde{
    
    background: linear-gradient(rgb(244, 241, 201),rgb(219, 200, 160),rgb(215,186,125));
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
}

.individualRoast{
    text-align: center;
    width: 48%;
    margin:1%;
    padding:2% 0px;
    border-radius: .5em;
    border:1px solid black;
}
.medium{
    background: linear-gradient(rgb(215,186,125), rgb(110, 69, 22));
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.dark{
    background: linear-gradient(rgb(110, 69, 22), rgb(57, 33, 5));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.individualRoast h2{
    text-decoration: underline;
}
.individualRoast b{
    text-decoration: underline;
}

/*==========================================

COREDRINKS PAGES

==========================================*/

.coreDrinks{
    background: rgb(40, 155, 88);
}
.coreDrinks .drinkType{
    min-height: 10vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.drinkType .title{
    width:100%;
    
    height:fit-content;
    font-size: 50px;
    text-decoration: underline;
    margin-bottom: 4%;
}
.blended .title{
    
}
.coreDrinks .drink {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4%;
    flex-direction: column;
    align-items: center;
    padding: 4%;
}
.drink .info{
    text-align: center;
}
.cup {
    width: 100px;
    height: 200px;
    background: rgba(255, 239, 239, 0);
    border: 2px solid black;
    position:relative;
    transform: perspective(13px) rotateX(-1deg);
    -webkit-transform: perspective(13px) rotateX(-1deg);
    -moz-transform: perspective(13px) rotateX(-1deg);
    top:0;
    z-index: 0;
    

}
.container .ingred{
    font-size: .7em;
    
    border-top:1px solid black;
    
}


.cup .room{
    border:none
}
.cup .ingred.espresso{
    background: linear-gradient(rgb(231, 188, 96), rgb(80, 52, 20)30%,#312020);
    color:rgb(255, 255, 255);
    
    
}
.cup .syrup{
    background:rgb(255, 255, 227) ;
}
.cup .steamedmilk{
    background:rgb(240, 249, 248);
}
.cup .foam{
    background: white;
    background-image: url("../IMG/bubbles.png");
    background-size: contain;
}
.cappuccino .foam{
    
    background-size: 30%;
}
.cup .water{
    background: rgb(169, 222, 252);
    
    background-size: contain;
    background-repeat: no-repeat;
}

.cup .whippedcream{
    background: rgb(255, 255, 242);
}
.mocha .cup .syrup{
    background: rgb(80, 52, 20);
    color:white;
}
.cup .carameldrizzle{
    background-color: rgb(177, 129, 25);
    font-size: .3em;
}
.cup .milk{
    background-color: white;
}
.cup .espressofoam{
    background-color:rgb(114, 87, 30);
}
.icedshakenespresso .syrup{
    background: rgb(209, 252, 250);
}
.brownsugaroatmilkshakenespresso .syrup{
    background-color:rgb(125 99 45);
}
.cup .almondmilk{
    background: #e2ddd2;
}
.cup .oatmilk{
    background:#f1ece1 ;
}
.espressoconpanna .iced .whippedcream{
    margin-bottom:40%;
    margin-top: 110%;
}
.espressoconpanna .iced .room{
    height:5% !important;
}
.cinnamondolcelatte .syrup{
    background: rgb(237, 218, 125);
}
.honeyalmondmilkflatwhite .syrup{
    background: rgb(223, 204, 106);
}
.cup .chocolatepowder{
    background: #67493a;
    font-size: .3em;
}

.iceOverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    
    background-image: url('../IMG/ice.png');
    background-size: contain;
    background-repeat: no-repeat;
    
    opacity: 1;

}

.container{
    height:100%;
    width:100%;
    
    
}
.container .ingred{
    display:flex;
    justify-content: center;
    align-items: center;
}
.container .ingred p{
    position: absolute;
    z-index: 10000;
    margin:0;
}
.hidden{
    opacity: 0;
}







.blended .drink{
    margin-top: 25%;
}
.frapp {
    width: 100px;
    height: 200px;
    background: rgba(255, 239, 239, 0);
    border: 2px solid black;
    
    transform: perspective(13px) rotateX(-1deg);
    
    top:0;
    z-index: 10;

}
.frapp .container{
    background: white;
    height:100%;
    position: relative;
}

.frapproast {
    background-color: #35280c;
    opacity: .40;
}

.frapp .milk{
    background-color:#e2ddd2;
    opacity: .3;
}
.caramelsyrup{
    background: #b38626;
    opacity: .15;
}
.mochasyrup{
    background-color: #342c1a;
    opacity: .6;
}
.frapp .chai{
    background:#7d622c;
    opacity: .6;
}
.vanillabean{
    background-image: url('../IMG/vanillabean.png');
    background-size: 200%;
}
.frapp .matcha{
    background: rgb(90, 157, 90);
}
.frapp .strawberrypuree{
    background: rgb(183, 52, 52);
    background-image: url('../IMG/strawberrypuree.png');
    background-size: 400%;
    
    opacity: .6;
}
.lemonade{
    background: rgb(255, 255, 154);
}
.frapp .lemonade{
    opacity: .4;
}
.frapp .espresso{
    background-color: #432e01;
    opacity: .5;
}
.javachips{
    background-size: 60%;
    background-image: url('../IMG/javachips.png');
}
.whipped{
    position: relative;
}
.whitemochasyrup{
    background: rgb(254, 248, 227);
    opacity: .2;
}
.container .darkcaramel{
    background-color: #826732;
    opacity: .4;
}
.whipped img{
    transform: translateY(-110px) translateX(-63px);
    width:130px;
    z-index: 1;
    position: absolute;
}
.frapp .layers {
    margin-top: 153%;
    height: 25%;
    z-index: 1000;
    position: relative;
}
.frapp .layers .whippedcream{
    height:80%;
    width:100%;
    background-color: white;
}
.frapp .layers .darkcaramel{
    height:20%;
    width:100%;
    background-color: rgb(125, 95, 19);
}
.frapp .layers .cookiecrumble{
    height:20%;
    width:100%;
    background-color: rgb(39, 29, 22);
    background-image: url('../IMG/javachips.png');
    background-size: 20%;
}
.layered .container {
    height: 100%;
    position: absolute;
}
.ice{
    background-image: url("../IMG/ice\ overlay.png");
    opacity: .22;
}
.ingredient{
    height:100%;
    width:100%;
    position: absolute;
}