


*{
    box-sizing: border-box;
    color:black;
    font-size: 1.40vw;
    font-family:'Source Sans Pro', sans-serif;
    user-select: none !important;
}

.pickedDrinks *{
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    background-color:#00754a;
}
body .menuWrapper{
    background-color: green;
    display:flex;
    position: relative;
    width: 100%;
    padding-top: 89%; /* 16:9 Aspect Ratio */
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 20%;
}

div .menu{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    
    color: white;
    
}
/* header{
    width:100%;
    text-align: center;
    background-color: rgb(39, 33, 27);
    color:white
} */
header{
    top:0vh;
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height:10vh;
    border-bottom: 3px solid #405839;
    color: #ffffff;
    background: rgb(39, 33, 27);
    letter-spacing: 1vw;
    text-align: center;
    z-index: 10000;
    width:100%;
    
}
header h1{
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color:white;
}
body{
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#winOrLose.hidden{
    display:none;
}
#winOrLose.win{
        display: flex;
        top: 0;
        left: 0;
            background-color: #015a30;
        width: 100%;
        height: 100%;
        position: absolute;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 10000;
}
#winOrLose.lose{
    display: flex;
    top: 0;
    left: 0;
    background-color: rgb(174, 68, 68);
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10000;
}
#winOrLose div{
    padding: 3%;
    margin-bottom: 2%;
    border:1px solid black;
    border-radius: 1em;
    background-color:rgb(185, 202, 206);
}
#winOrLose div.hidden{
    display: none;
}
#winOrLose h1{
    font-size: 72px;
    font-family: SodoSans;
}
.menu .errorMessage.active {
    display: flex;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.234);
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.menu .errorMessage{
    display:none;
}
.errorBox{
    border:4px solid blue;
    border-radius: .7em;
    background-color: white;
    height:20%;
    width:50%;
}
.clearButtons{
    display:flex;
    justify-content: space-evenly;
    height:50%;
    align-items: center;
}
.clearButtons div{
    width:25%;
    text-align: center;
    border:1px solid grey;
    border-radius: .4em;
    background-color: rgb(178, 178, 178);
    height:50%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.1em;
}
.errorBox p{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    height:40%;
    width:100%;
    margin:0;
    padding: 20px;
}
.errorBox .clearError{

}


.menu .quantityForShots{
    display:none;
}
.menu .quantityForShots.active{
    display: flex;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.234);
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.quantityBox{
    width:30%;
    height: 50%;
    background-color: white;
    border:1em solid blue;
    border-radius: 1.2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.quantityNums{
    
    width:100%;
    height:60%;
    display:grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(4,15%);
    grid-row-gap: 5%;
    grid-column-gap:3%;
    justify-content: center;
    
}
.quantityNums div{
    display: flex;
    justify-content: center;
    border:1px solid black;
    align-items: center;
    border-radius: .2em;
    background: grey;
    
}
.displayAmount{
    height:40%;
    width:100%;
    padding-bottom: 16%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.displayAmount p {
    width:70%;
    height:3em;
    padding: 5% 0%;
    background-color: rgb(206, 206, 206);
    border:.5px solid black;
}


.menu{
    background-color: rgb(112, 112, 112);
     max-height:800px;
    max-width:900px; 
    padding: 10px;
}
.orders{
    width:30%;
    height:100%;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sections{
    display:flex;
    height:7%;
}
.sections>div{
    height:95%;
    width:33%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.sections>div div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 59, 59);
    height:100%;
    width:95%;
    color:white;
    border-radius:.7em;
}
.sections>div div.selected{
    color:rgb(0, 0, 0);
    background: white;
}
.sections>div div+div.selected{
    height:0%;
    width:0%;
    border-radius: 0px;
    background: none;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    border-top: 1.1vw solid rgb(255, 255, 255);
    opacity:1;
    
}
.sections>div div+div{
    height:0%;
    width:0%;
    border-radius: 0px;
    background: none;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    border-top: 1.1vw solid rgb(255, 255, 255);
    opacity: 0;
}
.orders .screen{
    padding:5px;
    height:100%;
    
    background-color: rgb(65, 65, 65);
}
.statusLight{
    height:1.5vw;
    width:1.5vw;
    background-image: linear-gradient(161deg,rgb(0, 0, 0),rgb(255, 0, 0));
    border-radius: 50%;
}
.orders .screen p {
    padding:0;
    margin:0;
    margin-left: 5px;
    color:white;
}
.namebar{
    display: flex;
    align-items: center;
}
.pickedDrinks{
    margin:1%;
    margin-top: 3%;
    background-color: beige;
    height:60%;
    max-height:60%;
    overflow-y: scroll;
}
.quantity{
    background:linear-gradient(-45deg,rgb(254, 227, 140),white 90%);
    border:none;
    border-radius: 50%;
    height:40%;
    font-size: 1.4vw;
}
.screen .buttons{
    height:36%;
    
}
.screen .buttons>div{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height:50%;
}
.prices{
    width:35%;
}
.desc{
    width:33%;
}
.prices  div, .desc div{
    display:flex;
    padding-right: 15%;
    flex-direction: row-reverse;
    align-items: center;
    color:white;
    width:100%;
    height:15%;
}
.desc .last{
    
    border-radius: .5em;
    font-size: 1.2em;
    margin-top: 10%;
    height:40%;
    
    color: white;
    
}
.prices .findOrder{
    border: solid 1px black;
    border-radius: .5em;
    font-size: 1.6em;
    margin-top: 10%;
    height:40%;
    background: rgb(54 54 54);
    color: white;
    box-shadow: inset 0px -2px 8px 0px rgb(0 0 0 / 35%), inset 0px 4px 8px 0px rgb(255 255 255 / 35%);
    
}
.buttons div+div button{
    height:40%;
    margin: 2% 1%;
    width:30%;
    padding:0;
    border:.1vw solid rgb(0, 0, 0);
    border-radius: .5em;
    box-shadow: inset -2px 2px 8px 1px rgb(0 0 0 / 35%), inset 0px -2px 8px 0px rgb(255 255 255 / 35%);
}

.void{
    background: rgb(196, 46, 46);
    color:white;
}
.discount{
    background: beige;
}
.screen .buttons .LOCK{
    height:5vw;
    width:5vw;
    margin:2% 6%;
    border-radius: 50%;
    background: rgb(171, 37, 0);
}
.findOrder{
    background: green;
    color:white;
}
.menu{
    display:flex;
}
.itemSelection{
    width:70%;
}
.itemSelection .categories{
    display: flex;
    justify-content: space-evenly;
    height:7%;
}
.itemSelection .categories button{
    width:19%;
    height: 70%;
    padding: 0;
    background: rgb(97, 166, 97);
    border:2px solid rgb(11, 89, 4);
    border-radius: 50%;
}
.itemSelection .categories button.selected{
    width:19%;
    height: 70%;
    padding: 0;
    color:rgb(9, 102, 9);
    background: rgb(255, 255, 255);
    border:2px solid rgb(11, 89, 4);
}
.drinkBuilder {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.drinkBuilder em{
    color:rgb(9, 102, 9);
    font-size: .8rem;
}
.itemSelection .drinkPicker{
    height: 84%;
    width:100%;
    display:flex;
    flex-wrap: wrap;
}
.itemSelection .items{
    margin:0% 0% 0% 2%;
    height:90%;
    width:85%;
    background: rgb(255, 246, 204);
    border-bottom:none;
}
.itemSelection .customizations{
    width:13%;
    height:90%;
    
}
.itemSelection .drinkType{
    margin:0% 0% 0% 2%;
    width:85%;
    height:10%;
    
}
.customizations input{
    font-size: small;
    text-align: center;
}
.customizations .shotsMenu{
    height:35%;
    width:100%;
}
.customizations>section{
    min-height:12%;
    height:fit-content;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left:none;
    margin-top: 6%;
    background: rgb(192, 180, 138);
    border-top-right-radius: .7em;
    border-bottom-right-radius: .7em;
}
.iceCheck{
    display:flex;
    justify-content: center;
    height:10%;
}
.iceCheck div{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border:none;
    outline: none;
    background: none;
    width:auto;
    height:1em;
    width:1em;
    margin-right:10%;
    border:.1vw solid black;
    font-size: 1.1em;
}
.regular{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.regular div{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border:none;
    outline: none;
    background: none;
    
    width:auto;
    border:.1vw solid black;
    width:50%;
    font-size: 1.1em;
    height:3vw
}
.customCheck div{
    min-height: 3vw;
}
.customizations div div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.drinkType{
    display: flex;
}
.drinkType div{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:.2% .5%;
    width:19%;
    background: rgb(192, 180, 138);
    height:80%;
    transform: perspective(1vw) rotateX(-1deg);

    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   
}
.menu .itemSelection .highlight{
    background:rgb(255, 246, 204);
}
.drinkCheck div{
    background:rgb(255, 246, 204);
}
.customizations .drinkName{
    color: white;
    background: transparent;
    margin-top: 100% !important;
}
.customizations .drinkName .drinkCheck{
    color:white;
}
.customizations .drinkName .drinkCheck input{
    background: rgb(192, 180, 138);
}

.items{
    
    display:grid;
    grid-template-columns: repeat(5, 18%);
    grid-template-rows: repeat(6,14%);
    grid-row-gap: 2%;
    grid-column-gap:2%;
    justify-content: center;
    align-content: center;
    
}
.items.custom {
    display: grid;
    grid-template-columns: repeat(6, 15.6%);
    grid-template-rows: repeat(8,11.4%);
    grid-row-gap: 1%;
    grid-column-gap: 1%;
    justify-content: center;
    align-content: center;
    grid-template-areas:
        'a b . . c d'
        'e f g h . .'
        'i j k l m n'
        'o p q r s .'
        't u v w x y'
        'z aa bb . cc dd'
        'ee ff gg hh . .'
        'ii jj . . . .';
}
.items.functions{
}
.items div {
    box-shadow: inset 0px -2px 8px 0px rgb(0 0 0 / 35%), inset 1px 6px 8px 0px rgb(255 255 255 / 35%);
    border-radius: .4em;
    border:.2vw solid black;
    display: flex;
    text-align: center;
    background-color: rgb(207 146 207);
    justify-content: center;
    align-items: center;
    overflow: clip;
}



.items.espresso{
    grid-template-areas: 
    'a b c d .'
    'e f g h .'
    'i j k l m'
    '. . . . .'
    'n . . . .'
    'o p . . .'
    ;
}
.items.blended{
    grid-template-areas: 
    'a b c d .'
    'e f g h i'
    'j k l m .'
    'n o p q r'
    's . . . .'
    '. . . . .'
    ;
}
.items.shotsMenu{
    grid-template-areas: 
    'a . b c d'
    '. . . e f'
    'g h i j k'
    'l . . . m'
    'n . o p q'
    'r s t u v'
    ;
}
.items.syrup{
    grid-template-areas: 
    'a b c d e'
    'f g h i j'
    'k l m n o'
    'p q r . .'
    's . . . .'
    't u v w .'
    ;
}
.items.milk{
    grid-template-areas:
    '. . . a b'
    'c d . e f'
    'g h . i j'
    'k l . m n'
    'o p . q r'
    's t . u v'
    ;
}
.items.custom div{
    font-size: 1.0vw;
}
.drinkPicker .items.custom .rawsugar~div{
    background-color: rgb(207 146 207);
}
.items.milk .extra, .items.milk .light,.items .light,.items .extra,.items .sub,.items .no{
    background:rgb(54 54 54);
    color:white;
    box-shadow:  inset 1px 6px 8px 0px rgb(0 0 0 / 35%),inset 0px -2px 8px 0px rgb(255 255 255 / 35%) ;
}
.items.milk div, .items.custom .ice,.items.custom .water,.drinkPicker .items.custom div.whippedcream,
.itemSelection .drinkPicker .items.custom div.mochadrizzle,.itemSelection .drinkPicker .items.custom div.carameldrizzle,
.itemSelection .drinkPicker .items.custom div.linethecupwmocha,.itemSelection .drinkPicker .items.custom div.linethecupwcaramel{
    background-color: #95d2e9;
}

.items.milk .withwholemilk~div{
    background-color: rgb(223, 229, 114);
}
.items.milk .withalmondmilk~div{
    background-color: rgb(207 146 207);
}

.items.syrup div{
    background:rgb(54 54 54);
    color:white;
    box-shadow:  inset 1px 6px 8px 0px rgb(0 0 0 / 35%),inset 0px -2px 8px 0px rgb(255 255 255 / 35%) ;
}

.items.syrup .pumps{
    background:rgb(223, 229, 114);
    color:black;
    box-shadow: inset 0px -2px 8px 0px rgb(0 0 0 / 35%), inset 1px 6px 8px 0px rgb(255 255 255 / 35%);

}
.items.syrup .light~div{
    color:black;
    background:rgb(211, 207, 186);
    box-shadow: inset 0px -2px 8px 0px rgb(0 0 0 / 35%), inset 1px 6px 8px 0px rgb(255 255 255 / 35%);
}
.items.syrup div.chai{
    background: #aedd88;
}
.items.syrup div.sugarfreevanillasyrup,.items.custom .vanillasweetcream,
.drinkPicker .items.custom div.linethecupwcaramel~div
{
    background: rgb(224, 250, 251);
}

.items.syrup div.sugarfreevanillasyrup~div{
    background: rgb(207 146 207)
}

.items.shotsMenu div{
    background-color: #95d2e9;
}
.items.shotsMenu .blonde{
    background-color: #eac784;
}
.items.shotsMenu .blonde~div{
    background-color: rgb(169 150 110);
}
.drinkPicker .items.shotsMenu .single, .items.shotsMenu .single~div{
    background-color: rgb(178, 116, 199);
}
.drinkPicker .items.shotsMenu .affogatoshot,.itemSelection .drinkPicker .items.custom div.strawberryacairefresherbase,
.itemSelection .drinkPicker .items.custom div.dragonfruitrefresherbase,
.itemSelection .drinkPicker .items.custom div.pineapplerefresherbase{
    background: rgb(225 177 126);
}
.drinkPicker .items.shotsMenu .frappucinoroast{
    background: #a98977;;
}

.drinkPicker .items.shotsMenu .kids~div,.drinkPicker .items.custom .addblueberries~div{
    background: #95dea9;;
}
.drinkPicker .items.shotsMenu .kids,.drinkPicker .items.shotsMenu .ristretto~div{
    background: #d7c54f;;
}

.items .toastedvanillaoatshakenespresso ~ div{
    background-color: rgb(223, 229, 114);
}
.items.espresso .cappuccino{
    background-color: rgb(211, 207, 186);
}
.items .cappuccino ~ div{
    background-color: rgb(224, 250, 251);
}
.items.espresso .caramelmacchiatto {
    background: rgb(207 146 207);
}
.items.espresso .caramelmacchiatto~div{
    background: rgb(199, 159, 109);;
}
.items.blended div, .items.custom .vanillasweetcream~div{
    background-color: rgb(201, 180, 153);;;
}
.items.blended .mochacookiecrumblefrappucino~div{
    background: rgb(224, 250, 251);
}
.items.blended div.blendedstrawberrylemonade{
    background-color: yellow;
}
.items.brewed{
    grid-template-areas: 
    'a b c d e'
    'f g h i .'
    'j k l m .'
    'n o p . .'
    '. . . . q'
    'r s t u v'
    ;
}
.items.brewed .icedcoffee, .items.brewed .icedcoffee~div, .items.brewed div.nitrocoldbrew~div, section.items.brewed div.nitrocoldbrew{
    background-color: #95d2e9;
}
.items.brewed div.coldbrew, .items.brewed .coldbrew~div{
    background: rgb(224, 250, 251);
}
section.items.brewed div.cafemisto{
    background-color: rgb(219, 178, 113);
}
section.items.brewed div.pikeplaceroast, section.items.brewed div.hotcoffeerefill{
    background-color: rgb(221, 213, 200);
}
section.items.brewed div.darkroast{
    background-color: rgb(208, 170, 208);
}
section.items.brewed div.blonderoast{
    background-color: #e0de81;
}
#ece93b
/*###################################### */
/* Tea Design Properties :*/
/*###################################### */
.items.tea{
    
    display:grid;
    grid-template-columns: repeat(5, 18%);
    grid-template-rows: repeat(6,14%);
    grid-row-gap: 2%;
    grid-column-gap:2%;
    justify-content: center;
    align-content: center;
    
}
.items.tea{
    grid-template-areas: 
    'a b c d e'
    'f g h i j'
    'k l m n o'
    '. . . . .'
    'p q r . .'
    's t u v w'
    ;
}


.items.tea div {
    background-color:#ebe1a2;
}
.items.tea div+div {
    background-color:#aedd88;
}
.items.tea div+div+div {
    background-color:#bbae8a
}
.items.tea div+div+div+div+div {
    background-color:#d0d16d
}
.items.tea .customtealatte~div {
    background-color:#6cb8d4;
}
.items.tea .customicedtea~div, .drinkPicker .items.custom div.lemonade,
.itemSelection .drinkPicker .items.custom div.extrahot{
    background-color:#ece93b;
}
.items.tea .customtealemonade~div {
    background-color:#bbae8a;
}
.items.tea .chaitea~div {
    background-color:#aae6ba;
}
.items.tea div.honeycitrusminttea  {
    background-color:#efed93;
}
.items.other{
    grid-template-areas: 
    'a b c d .'
    'e f g h i'
    'j k l . .'
    'm n o . p'
    'q r s . t'
    'u v w . x'
    ;
}
.other div{
    background-color: rgb(211, 207, 186);
}
.other .whitehotchocolate~div{
    background: rgb(224, 250, 251);
}
.other .steamedmilk~div{
    background-color: #aedd88;
}
.other .cinnamondolcecrme~div{
    background-color: #ece93b;
}
.other .matchalemonade~div{
    background-color: rgb(223, 229, 114);
}
.other .caramelapplespice~div{
    background-color: rgb(207 146 207);
}
.items.other .cupofwater{
    background-color: #6cb8d4;
}
.items.other .cupofice{
    background: #a1d5e8;
}
.items.other .pupcup{
    background: #a1d5e8;
}
.pickedDrinks div{
    width:100%;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.customerArea{
    text-align: center;
    width:100%;
    background: #00754a
}
.customerArea h1,.customerArea span{
    font-size: 22px;
    font-family: SodoSans-light;
    color:white
}
.pickedDrinks div div{
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   border:none;
   outline: none;
   background: none;
   width:auto;
   width:93.5%;
   
}
.pickedDrinks div div.isIced{
   width:79%;
   
}
.pickedDrinks .sizeIdentifier{
    width:6.5%;
    padding-right: 1.2%;
}
.selected{
    background: #95d2e9;
}
.selected .selectedSpecific{
    background: #71a7ba;
}
.pickedDrinks .modifier{
    width:100%;
    padding-left: 10%;
    overflow: hidden;
}
.extras{
    display:flex;
    justify-content: space-evenly;
    
    height:10.5%;
    width:100%;
    margin-left: 2%;
    align-items: flex-start;
}
.extras div{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 1em;
    
    background-image: linear-gradient(rgb(118, 118, 118),rgb(56, 48, 48)40%);
    width:15.666%;
    border: 1px solid black;
    border-radius: 10%;
    height:90%;
}
.extras div.hidden{
    opacity: 0;
}
.extras .nextDrink.active{
    background-image: linear-gradient(rgb(158, 185, 136),green 40%);
}
.icedArea{
    padding-right:.2em;
}


footer.hidden{
    display:none;
}
.drinkType.hidden{
    display:none
}









.loadCon{
    display:none;
}
.menuWrapper.loading{
    border:none;
    background-color: rgb(66, 66, 66);
}
.menuWrapper.loading .loadCon{
    display: flex;
    top: 0;
    left: 0;
    background-color:#00754a;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.menuWrapper.loading .drinkType{
    display:none
}


.loader {
    width: 6vw;
    height: 5vw;
    margin-top: 30px;
    display: inline-block;
    position: relative;
    background: #51e336;
    border-radius: 15% 15% 35% 35%;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 5.3vw;
    top: 1vw;
    border: .5vw solid #51e336;;
    width: 2vw;
    height: 2vw;
    border-radius: 0 0.5vw 0.7vw 0;
  }
  .loader::before {
    content: '';  
    position: absolute;
    width: .2vw;
    height: 1.2vw;
    color: rgba(255, 255, 255, 0);
    opacity: 0;
    top: -33%;
    left: 25%;
    box-sizing: border-box;
    animation: animloader 1s ease infinite;
  }
  
  @keyframes animloader {
      0% {
    box-shadow: 2px 0px rgb(81, 255, 0), 12px 0px rgba(0, 255, 38, 0.3), 20px 0px rgba(49, 225, 9, 0);
  }
      50% {
    box-shadow: 2px -5px rgba(120, 252, 87, 0.5), 12px -3px rgba(118, 245, 68, 0.5), 20px -2px rgba(177, 255, 151, 0.6);
  }
      100% {
    box-shadow: 2px -8px rgba(255, 255, 255, 0), 12px -5px rgba(255, 255, 255, 0), 20px -5px rgba(255, 255, 255, 0);
  }
    }





    .loader2 {
        margin-top: 30px;
        width: 15vw;
        height: 15vw;
        border: 5px solid rgb(26, 255, 0);
        border-bottom-color: transparent;
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
        display: inline-block;
        box-sizing: border-box;
        position: absolute;
        animation: rotation 1s linear infinite;
        }
    
        @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        } 


.customizations .customCheck div{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    height:fit-content;
}
.customizations .customCheck div span{
    margin-right:.5em;
    width:max-content;
    height:fit-content;
}

.customizations .customCheck div span.NO {
    position: relative;
  }
  .customizations .customCheck div span.NO:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
  }
@media only screen and (min-width: 900px) {
  *{
      font-size: 1.1vw;
      border-width: 1px;
  }
  .screen .buttons .LOCK {
      margin:1% 4%;
      height:45%;
      width:24%;
  }
  .items div{
      border-width: 1px;
  }
  .regular div, .customCheck div span{
      height: 28px;
      font-size: .7rem;
  }
  .customCheck div{
    min-height: 28px;
}
  .quantity{
      font-size: 1em;
  }
  body .menuWrapper{
          height: 800px;
          background-color: green;
          display: flex;
          position: relative;
          width: 900px;
          padding-top: 0;
          border: 10px solid black;
      
  }
  body{
      margin:0;
      display:flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }
  .sections>div div+div.selected {
      height: 0%;
      width: 0%;
      border-radius: 0px;
      background: none;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 12px solid rgb(255, 255, 255);
      opacity: 1;
  }
  .sections>div div+div {
      height: 0%;
      width: 0%;
      border-radius: 0px;
      background: none;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 12px solid rgb(255, 255, 255);
      opacity: 0;
  }
  .statusLight{
      width: 1.2em;
      height:1.2em;
  }
  .loader::before{
    opacity: 1;
  }
  
}

.customerArea.hidden{
    opacity:0;
}
@media only screen and (min-width: 1600px) {
    *{
        font-size: 0.9vw;
    }
}
@media only screen and (min-width: 1370px) {
    *{
        font-size: 1vw;
    }
    .items.custom div {
        font-size: 0.8vw;
    }
}
@media only screen and (min-width: 1470px) {
    *{
        font-size: 14px;
    }
    .regular div{
        border-width:1px;
    }
    .iceCheck div{
        border-width: 1px;
    }
    .pickedDrinks .sizeIdentifier{
        padding-right: 1.3em;
    }
    .pickedDrinks div div{
        width: 91.5%;
    }
}
.notVisible{
    opacity:0;
    display:hidden;
    pointer-events: none;
}

#mousePointer{
    position:absolute;
    top:514px;
    bottom: 0;
    left:0px;
    font-size: 5vw;

}
.buttons div.hidden{
    display:none ;
}
.buttons .numbers button{
    height:32%;
    background:rgb(255, 233, 160);
}
.input{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    margin:2% 1%;
    border: 0.1vw solid rgb(0, 0, 0);
    border-radius: 0.5em;
    width:64%;
    height:31%;
    padding:2%
}
.buttons .numbers .input{
    background:rgb(249, 238, 202);
}

.buttons .numbers .back{
    background:rgb(226, 226, 226);
}
.buttons .numbers .enter{
    width:50%;
    background:rgb(178, 254, 140);
}
.buttons .numbers .cancel{
    background:rgb(238, 107, 107);
}
  
.itemSelection .drinkPicker .items .selected{
    background-color: white;
    color: black;
}